<p-slide>
	<div class="h4 center bold">
		<em>What</em>
		<br /> customizations?
	</div>
</p-slide>
<p-slide>
	<!--- For example take a page, with a table as its main UI feature. What would a client ask to change? -->
	<div class="redacted-layout">
		<div class="sidebar" p-fragment="6" p-effect="reveal">
			<!--- Or something in the sidebar -->
			<div class="logo">Lorem</div>
			<ul>
				<li>
					<b>Section</b>
					<ul>
						<li>First</li>
						<li>Second</li>
						<li>Third</li>
						<li>And more</li>
					</ul>
				</li>
				<li>
					<b>Other</b>
					<ul>
						<li>Second to last</li>
						<li>Last</li>
					</ul>
				</li>
				<li p-fragment="7" p-effect="boing from left" style="--from-x: -100%">
					<!--- like a bunch of links to new pages, and so on -->
					<b>Addition</b>
					<ul>
						<li>Plus one</li>
						<li>And two</li>
					</ul>
				</li>
			</ul>
		</div>
		<div class="header" p-fragment="4" p-effect="insert">
			<!--- Or something in the toolbar, like -->
			<p>Articles</p>
			<div class="toolbar">
				<kbd>🔍</kbd><kbd>➕</kbd><kbd p-fragment="5" p-effect="reveal">⚡<!--- a new button, with its effect and such --></kbd>
			</div>
		</div>
		<p-notes p-group="column-add">It could be adding a column</p-notes>
		<p-notes p-group="column-remove">or removing one</p-notes>
		<table>
			<colgroup>
				<col></col>
				<col></col>
				<col p-fragment="2" p-group="column-remove"></col>
				<col p-fragment p-group="column-add"></col>
				<col></col>
				<col></col>
			</colgroup>
			<thead>
				<tr>
					<th><span>Id</span></th>
					<th><span>Name</span></th>
					<th><span>Nickname</span></th>
					<th><span>email</span></th>
					<th><span>Orders</span></th>
					<th><span>Actions</span></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><span>1</span></td>
					<td><span>Leanne Graham</span></td>
					<td><span>Bret</span></td>
					<td><a href="mailto:Sincere@april.biz">Sincere@april.biz</a></td>
					<td><span>92998</span></td>
					<td><span><kbd>✏️</kbd><kbd p-fragment="3" p-effect="reveal" p-group="actions">❌<!--- Or maybe a new type of action on the rows --></kbd></span></td>
				</tr>
				<tr>
					<td><span>2</span></td>
					<td><span>Ervin Howell</span></td>
					<td><span>Antonette</span></td>
					<td><a href="mailto:Shanna@melissa.tv">Shanna@melissa.tv</a></td>
					<td><span>90566</span></td>
					<td><span><kbd>✏️</kbd><kbd p-fragment p-effect="reveal" p-group="actions">❌</kbd></span></td>
				</tr>
				<tr>
					<td><span>3</span></td>
					<td><span>Clementine Bauch</span></td>
					<td><span>Samantha</span></td>
					<td><a href="mailto:Nathan@yesenia.net">Nathan@yesenia.net</a></td>
					<td><span>59590</span></td>
					<td><span><kbd>✏️</kbd></span></td>
				</tr>
				<tr>
					<td><span>4</span></td>
					<td><span>Patricia Lebsack</span></td>
					<td><span>Karianne</span></td>
					<td><a href="mailto:Julianne.OConner@kory.org">Julianne.OConner@kory.org</a></td>
					<td><span>53919</span></td>
					<td><span><kbd p-fragment p-effect="reveal" p-group="actions">❌</kbd></span></td>
				</tr>
				<tr>
					<td><span>5</span></td>
					<td><span>Chelsey Dietrich</span></td>
					<td><span>Kamren</span></td>
					<td><a href="mailto:Lucio_Hettinger@annie.ca">Lucio_Hettinger@annie.ca</a></td>
					<td><span>33263</span></td>
					<td><span><kbd style="visibility: hidden">✏️</kbd></span></td>
				</tr>
				<tr>
					<td><span>6</span></td>
					<td><span>Mrs. Dennis Schulist</span></td>
					<td><span>Leopoldo_Corkery</span></td>
					<td><a href="mailto:Karley_Dach@jasper.info">Karley_Dach@jasper.info</a></td>
					<td><span>23505</span></td>
					<td><span><kbd>✏️</kbd><kbd p-fragment p-effect="reveal" p-group="actions">❌</kbd></span></td>
				</tr>
				<tr>
					<td><span>7</span></td>
					<td><span>Kurtis Weissnat</span></td>
					<td><span>Elwyn.Skiles</span></td>
					<td><a href="mailto:Telly.Hoeger@billy.biz">Telly.Hoeger@billy.biz</a></td>
					<td><span>58804</span></td>
					<td><span><kbd>✏️</kbd></span></td>
				</tr>
				<tr>
					<td><span>8</span></td>
					<td><span>Nicholas Runolfsdottir V</span></td>
					<td><span>Maxime_Nienow</span></td>
					<td><a href="mailto:Sherwood@rosamond.me">Sherwood@rosamond.me</a></td>
					<td><span>45169</span></td>
					<td><span><kbd>✏️</kbd><kbd p-fragment p-effect="reveal" p-group="actions">❌</kbd></span></td>
				</tr>
			</tbody>
		</table>
	</div>
</p-slide>
<style lang="scss">
	@use 'sass:list';
	.redacted-layout {
		table {
			table-layout: fixed;
		}

		[p-group='column-add'] {
			width: 0;
		}

		$col-widths: (2.38, 12.57, 9.2, 12.62, 4.61, 4.63);
		@for $index from 1 through list.length($col-widths) {
			$width: list.nth($col-widths, $index);
			col:nth-child(#{$index}) {
				width: $width * 1em;
			}
		}
		[p-group^="column"] {
			transition: width calc(var(--fragment-duration) * 4) var(--overshoot),
				background-color calc(var(--fragment-duration) * 2) linear(0, 1 5%, 0);
		}
		[p-group='column-add'] {
			transition-timing-function: var(--overshoot), linear(0, 1 95%, 0);
			&[aria-hidden='true'] {
				width: 0;
				background-color: green;
			}
		}
		[p-group='column-remove'][aria-hidden='false'] {
			width: 0;
			background-color: red;
		}
	}
</style>