:root {
  --overshoot: linear(0, 1.32 16%, 0.87 28%, 1.05 44%, 0.98 59%, 1.01 73%, 1 88%, 1);
  --bounce: linear(0, 0.004, 0.016, 0.035, 0.063, 0.098, 0.141 13.6%, 0.25, 0.391, 0.563, 0.765, 1, 0.891 40.9%, 0.848, 0.813, 0.785, 0.766, 0.754, 0.75, 0.754, 0.766, 0.785, 0.813, 0.848, 0.891 68.2%, 1 72.7%, 0.973, 0.953, 0.941, 0.938, 0.941, 0.953, 0.973, 1, 0.988, 0.984, 0.988, 1);
}

.redacted {
  font-family: 'Redacted Script';
}

@keyframes from-below {
  from {
    translate: 0 100%;
  }
  to {
    translate: 0 0;
  }
}

.git-tree { 
  line, path:not(marker > path) {
    stroke: #dd0031;
    stroke-width: 10px;
    stroke-linecap: round;
  }
  path:not(marker > path) {
    stroke-width: 6px;
    fill: none;

    &.merge {
      stroke-width: 1px;
      marker-end: url(#arrow);
      marker-mid: none;
      stroke: #8E0022;
    }
    &.commits {
      marker-end: url(#commit);
      marker-mid: url(#commit);
    }
  }
  text {
    font-family: 'Courier New', Courier, monospace;
    font-size: 5%;
    font-weight: bold;
    text-anchor: middle;
  }
  :not(line) + text {
    transform: rotate(-90deg);
    text-anchor: end;
  }
}
