@for $level from 1 through 6 {
	.h#{$level} {
		font-size: 0.75em + (7 - $level) * 0.25em;
	}
}
@for $level from 1 through 9 {
	.s#{$level} {
		font-size: $level * 1em;
	}
	.s#{$level}\.5 {
		font-size: $level * 1em + 0.5em;
	}
	.s\.#{$level} {
		font-size: $level * 0.1em;
	}
}

.center {
	text-align: center;
}

@each $alignment in center start end stretch {
	.content-#{$alignment} {
		place-content: $alignment;
	}
	.items-#{$alignment} {
		place-items: $alignment;
	}
	.self-#{$alignment} {
		align-self: $alignment;
	}
	.align-#{$alignment} {
		align-items: $alignment;
	}
	.justify-#{$alignment} {
		justify-content: $alignment;
	}
}
@each $space in around between evenly {
	.justify-#{$space} {
		justify-content: space-#{$space};
	}
}

.bold {
	font-weight: bold;
}

.no-margins {
	margin: 0;
}
.no-padding {
	padding: 0;
}
.uppercase {
	text-transform: uppercase;
}
.no-clip {
	overflow: visible;
}

@supports (height: attr(h em)) {
	[h] {
		height: attr(h em);
	}
	:is([h$='px'], [h$='rem'], [h$='lh'], [h$='rlh'], [h$='ch'], [h$='%']) {
		height: attr(h type(#{'<length-percentage>'}));
	}
	[w] {
		width: attr(w em);
	}
	:is([w$='px'], [w$='rem'], [w$='lh'], [w$='rlh'], [w$='ch'], [w$='%']) {
		width: attr(w type(#{'<length-percentage>'}));
	}
	[flex] {
		display: flex;
		flex-flow: attr(flex type(#{'*'}));
	}
	[grid] {
		display: grid;
		grid-template-columns: repeat(attr(grid type(#{'<integer>'})), minmax(0, 1fr));
		gap: 1em;
	}
	@each $prop in top right bottom left gap {
		[#{$prop}] {
			#{$prop}: attr(#{$prop} em);
		}
		:is([#{$prop}$='px'], [#{$prop}$='rem'], [#{$prop}$='lh'], [#{$prop}$='rlh'], [#{$prop}$='ch'], [#{$prop}$='%']) {
			#{$prop}: attr(#{$prop} type(#{'<length-percentage>'}));
		}
	}
}